@import "tailwindcss";

@theme {
  --color-taffy-50: oklch(0.97 0.016 2.477);

  --color-taffy-100: oklch(0.941 0.032 2.477);

  --color-taffy-200: oklch(0.894 0.061 2.477);

  --color-taffy-300: oklch(0.811 0.117 2.477);

  --color-taffy-400: oklch(0.716 0.191 2.477);

  --color-taffy-500: oklch(0.657 0.228 2.477);

  --color-taffy-600: oklch(0.602 0.233 2.477);

  --color-taffy-700: oklch(0.529 0.207 2.477);

  --color-taffy-800: oklch(0.467 0.181 2.477);

  --color-taffy-900: oklch(0.421 0.161 2.477);

  --color-taffy-950: oklch(0.278 0.108 2.477);
}

body {
  font-family: "GoogleSans-Regular", sans-serif;
}
